<template>
  <div class="topbar-item">
    <b-dropdown
      size="sm"
      variant="link"
      toggle-class="custom-v-dropdown"
      no-caret
      right
      no-flip
      text="Actions"
      v-b-tooltip.hover="'User Profile'"
    >
      <template v-slot:button-content>
        <a
          class="btn btn-icon w-auto btn-clean d-flex align-items-center btn-lg px-2"
          data-toggle="dropdown"
        >
          <span
            class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1"
          >
            Hi,
          </span>
          <span
            class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3"
          >
            {{ user.username }}
          </span>
          <span class="symbol symbol-35 symbol-light-success">
            <img v-if="false" alt="Pic" :src="picture" />
            <span
              v-if="true"
              class="symbol-label font-size-h5 font-weight-bold"
            >
              {{ user.username.substring(0, 1).toUpperCase() }}
            </span>
          </span>
        </a>
      </template>
      <div class="navi user navi-hover min-w-md-200px">
        <b-dropdown-text tag="div" class="navi-header font-weight-bold">
          <div class="d-flex align-items-center mt-2">
            <div class="symbol symbol-70 mr-5">
              <img class="symbol-label" :src="picture" alt="" />
              <i class="symbol-badge bg-success"></i>
            </div>
            <div class="d-flex flex-column">
              <a
                href="#"
                class="font-weight-bold font-size-h6 text-dark-75 text-hover-primary"
              >
                {{ user.firstname + " " + user.lastname }}
              </a>
              
              <div class="navi mt-2">
                <a href="#" class="navi-item">
                  <span class="navi-link p-0 pb-2">
                    <span class="navi-icon mr-1">
                      <span class="svg-icon svg-icon-lg svg-icon-primary">
                        <!--begin::Svg Icon-->
                        <inline-svg
                          src="media/svg/icons/Communication/Mail-notification.svg"
                        />
                        <!--end::Svg Icon-->
                      </span>
                    </span>
                    <span class="navi-text text-muted text-hover-primary">
                      {{ user.email }}
                    </span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </b-dropdown-text>
        <b-dropdown-text
          tag="div"
          class="navi-separator mt-3"
        ></b-dropdown-text>
        <b-dropdown-text tag="div" class="navi-footer">
          <button
            class="float-right btn btn-light-primary btn-bold btn-sm"
            @click="onLogout"
            style="width:100px;"
          >
            Sign out
          </button>
        </b-dropdown-text>
      </div>
    </b-dropdown>
  </div>
</template>

<style lang="scss" scoped>
#kt_quick_user {
  overflow: hidden;
}
.user {
  width: 300px;
}
.project-create {
  color: white;
  background: #8cc152;
  margin: 10px;
}
.project-create:hover {
  background: #a0D468;
  color: white;
}
</style>

<script>
import { LOGOUT } from "@/core/services/store/auth.module";
import KTLayoutQuickUser from "@/assets/js/layout/extended/quick-user.js";
import KTOffcanvas from "@/assets/js/components/offcanvas.js";
// import ACTMODIFY_USER from "../../../../core/services/store/auth.module";

export default {
  name: "KTQuickUser",
  data() {
    return {
      user_edit: {
        username: "",
        firstname: "",
        lastname: ""
      },
      auth_header: {}
    };
  },
  mounted() {
    // Init Quick User Panel
    KTLayoutQuickUser.init(this.$refs["kt_quick_user"]);
  },
  methods: {
    onLogout() {
      this.$store
        .dispatch(LOGOUT)
        .then(() => this.$router.push({ name: "login" }));
    },
    closeOffcanvas() {
      new KTOffcanvas(KTLayoutQuickUser.getElement()).hide();
    },
  },
  computed: {
    picture() {
      return process.env.BASE_URL + "media/users/default.jpg";
    },
    user() {
      return this.$store.getters.getUserData;
    },

  }
};
</script>