<template>
  <div class="topbar-item" v-b-tooltip.hover.bottom="'Menu'">
    <div class="btn btn-icon btn-clean btn-lg mr-1" id="kt_quick_panel_toggle">
      <span class="svg-icon svg-icon-xl svg-icon-primary">
        <inline-svg src="media/svg/icons/Layout/Layout-4-blocks.svg" />
      </span>
    </div>

    <!-- begin::Quick Panel -->
    <div
      id="kt_quick_panel"
      ref="kt_quick_panel"
      class="offcanvas offcanvas-right pt-5 pb-10"
      style="overflow: hidden;"
    >
      <!--begin::Header-->
      <div
        class="offcanvas-header offcanvas-header-navs d-flex align-items-center justify-content-between mb-5"
      >
        <ul
          class="nav nav-bold nav-tabs nav-tabs-line nav-tabs-line-3x nav-tabs-primary flex-grow-1 px-10"
          role="tablist"
        >
          <li class="nav-item">
            <a
              class="nav-link active"
              v-on:click="setActiveTab"
              data-tab="0"
              data-toggle="tab"
              href="#"
              role="tab"
              aria-selected="true"
            >
              Panorama Correction
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              v-on:click="setActiveTab"
              data-tab="2"
              data-toggle="tab"
              href="#"
              role="tab"
              aria-selected="false"
            >
              Settings
            </a>
          </li>
        </ul>
        <div class="offcanvas-close mt-n1 pr-5">
          <a
            href="#"
            class="btn btn-xs btn-icon btn-light btn-hover-primary"
            id="kt_quick_panel_close"
          >
            <i class="ki ki-close icon-xs text-muted"></i>
          </a>
        </div>
      </div>
      <!--end::Header-->

      <div class="offcanvas-content px-10">
        <div class="tab-content">
          <b-tabs no-nav-style class="hide-tabs" v-model="tabIndex">
            <b-tab active>
              <div class="scroll pt-0 mr-n8" id="kt_quick_panel_logs">
                <div class="mb-15">
                  <h5 class="font-weight-bold mb-5">Panorama Correction</h5>
                  <correction />
                </div>
              </div>
            </b-tab>

            <b-tab >
              <div class="scroll pr-7 mr-n7" id="kt_quick_panel_settings">
                <form class="form">
                  <!--begin::Section-->
                  <div>
                    <h5 class="font-weight-bold mb-6">Base Map</h5>
                    <b-form-group v-slot="{ ariaDescribedby }">
                      <b-form-radio-group
                        id="btn-radios-1"
                        v-model="selected"
                        :options="options"
                        :aria-describedby="ariaDescribedby"
                        name="radios-btn-default"
                        buttons
                      ></b-form-radio-group>
                    </b-form-group>
                  </div>
                  <!--end::Section-->

                  <div class="separator separator-dashed my-6"></div>

                  <!--begin::Section-->
                  <div class="pt-2">
                    <h5 class="font-weight-bold mb-3">View Options</h5>
                    <div class="form-group mb-0 row">
                      <label class="col-8 col-form-label"
                        >Context:</label
                      >
                      <div class="col-4 text-right">
                        <span class="switch switch-sm switch-success">
                          <label>
                            <input type="checkbox" v-model="context" @input="Contextchange" />
                            <span></span>
                          </label>
                        </span>
                      </div>
                    </div>
                    <div class="form-group mb-0 row">
                      <label class="col-8 col-form-label"
                        >Tags:</label
                      >
                      <div class="col-4 text-right">
                        <span class="switch switch-sm switch-success">
                          <label>
                            <input type="checkbox" v-model="tags" @input="Tagchange" />
                            <span></span>
                          </label>
                        </span>
                      </div>
                    </div>
                    <div class="form-group mb-0 row">
                      <label class="col-8 col-form-label"
                        >Map spots:</label
                      >
                      <div class="col-4 text-right">
                        <span class="switch switch-sm switch-success">
                          <label>
                            <input type="checkbox" v-model="spots" @input="Spotchange" />
                            <span></span>
                          </label>
                        </span>
                      </div>
                    </div>
                    <div class="form-group mb-0 row">
                      <label class="col-8 col-form-label"
                        >Label:</label
                      >
                      <div class="col-4 text-right">
                        <span class="switch switch-sm switch-success">
                          <label>
                            <input type="checkbox" v-model="labels" @input="Labelchange" />
                            <span></span>
                          </label>
                        </span>
                      </div>
                    </div>
                    <div class="form-group mb-0 row">
                      <label class="col-8 col-form-label"
                        >Info:</label
                      >
                      <div class="col-4 text-right">
                        <span class="switch switch-sm switch-success">
                          <label>
                            <input type="checkbox" v-model="info" @input="Infochange" />
                            <span></span>
                          </label>
                        </span>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </b-tab>
          </b-tabs>
        </div>
      </div>
    </div>
    <!-- end::Quick Panel -->
  </div>
</template>

<script>
/* eslint-disable */
import KTLayoutQuickPanel from "@/assets/js/layout/extended/quick-panel.js";
import correction from '../correction.vue'
export default {
  name: "KTQuickPanel",
  data() {
    return {
      tabIndex: 0,
      selected: "osm",
      options: [
        { text: "OSM", value: "osm" },
        { text: "Sputnik", value: "sputnik" },
        { text: "Bing", value: "bing" },
        { text: "G. Street", value: "radio4" }
      ],
      context: true,
      labels: true,
      tags: true, 
      spots: true,
      info: true
    };
  },
  components: { correction},
  mounted() {
    // Init Quick Offcanvas Panel
    KTLayoutQuickPanel.init(this.$refs["kt_quick_panel"]);
  },
  methods: {
    /**
     * Set current active on click
     * @param event
     */
    setActiveTab(event) {
      const tab = event.target.closest('[role="tablist"]');
      const links = tab.querySelectorAll(".nav-link");
      // remove active tab links
      for (let i = 0; i < links.length; i++) {
        links[i].classList.remove("active");
      }

      // set clicked tab index to bootstrap tab
      this.tabIndex = parseInt(event.target.getAttribute("data-tab"));

      // set current active tab
      event.target.classList.add("active");
    },
    Contextchange: function(){
      this.$root.$emit('context_changed', this.context);
    },
    Spotchange: function(){
      this.$root.$emit('spot_changed', this.spots);
    },
    Tagchange: function(){
      this.$root.$emit('tag_changed', this.tags);
    },
    Labelchange: function(){
      this.$root.$emit('label_changed', this.labels);
    },
    Infochange: function(){
      this.$root.$emit('info_changed', this.info);
    }
  },
  watch: {
    selected: {
      handler: function(val) {
        console.log(val);
        this.$store.commit("change_basemap", val);
      }
    }
  }
};
</script>
