<template>
  <div class="panorama">
    <splitpanes
      @resize="paneChange"
      class="default-theme"
      style="height: 100%; z-index: 2;"
    >
      <pane v-if="enablesideMap == true && enableMap == true" min-size="20" size="30"
        ><Map ref="mapLeft"
      /></pane>
      <pane min-size="45">
        <div v-if="enablesideMap == false && enableMap == true" class="mapSmall">
          <Mapsmall />
        </div>
        <panorama />
      </pane>
    </splitpanes>
  </div>
</template>

<script>
import { Splitpanes, Pane } from "splitpanes";
import "splitpanes/dist/splitpanes.css";

import Map from "../layout/extras/Map.vue";
import Mapsmall from "../layout/extras/Mapsmall.vue";

import panorama from "../layout/extras/Panorama.vue"
export default {
  components: { Splitpanes, Pane, Map, Mapsmall, panorama },
  data() {
    return {
    };
  },
  methods: {
    paneChange() {
      this.$refs.mapLeft.paneChange();
    }
  },
  computed:{
    enablesideMap(){
      return this.$store.getters.get_enablesideMap
    },
    enableMap(){
      return this.$store.getters.get_mapActive
    }
  }
};
</script>

<style lang="scss" scoped>
.panorama {
  height: 100%;
  width: 100vw;
}
.mapSmall {
  position: fixed;
  width: 250px;
  height: 250px;

  z-index: 200;
  margin: 10px;
}
</style>
