<template>
    <div style="margin-left: 5px; z-index: 1;">
         <h5 style="font-size: 14px; margin-bottom: 20px;">{{ id }}</h5>
         <b-form>
             <b-form-group id="input-group-2" label="Drift along track axis" label-for="input-2">
                <b-form-input
                id="input-2"
                type="number" placeholder="0.00" step=".2" ref="yfield"
                style="width: 300px;"
                v-model="y_fix_field" 
                @input="fix_changed"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Drift by side track axis" label-for="input-2">
                <b-form-input
                id="input-2"
                type="number" placeholder="0.00" step=".2" ref="yfield"
                style="width: 300px;"
                v-model="x_fix_field" 
                @input="fix_changed"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Height from ground" label-for="input-2">
                <b-form-input
                id="input-2"
                type="number" placeholder="0.00" step=".2" ref="yfield"
                style="width: 300px;"
                v-model="height_fix_field" 
                @input="fix_changed"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Roll angle" label-for="input-2">
                <b-form-input
                id="input-2"
                type="number" placeholder="0.00" step=".2" ref="yfield"
                style="width: 300px;"
                v-model="roll_fix_field" 
                @input="fix_changed"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Pitch angle" label-for="input-2">
                <b-form-input
                id="input-2"
                type="number" placeholder="0.00" step=".2" ref="yfield"
                style="width: 300px;"
                v-model="pitch_fix_field" 
                @input="fix_changed"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="track angle" label-for="input-2">
                <b-form-input
                id="input-2"
                type="number" placeholder="0.00" step=".2" ref="yfield"
                style="width: 300px;"
                v-model="track_fix_field" 
                @input="fix_changed"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Note" label-for="input-2">
                <b-form-textarea
                id="textarea"
                style="width: 300px;"
                placeholder="Note"
                rows="1"
                max-rows="2"
                v-model="note_field"
                @input="fix_changed"
                ></b-form-textarea>
            </b-form-group>
            <button
                type="button"
                class="btn col-4  project-create"
                @click="updateContext()"      
            > Save </button>
            <button
                type="button"
                class="btn col-4  project-close"
                @click="reset"
            >
            Reset
            </button>
         </b-form>
            <!-- <b-field label="Drift along track axis">
                <b-input type="number" placeholder="0.00" step=".2" ref="yfield" v-model="y_fix_field" @input="fix_changed"></b-input>
            </b-field>
            <b-field label="Drift by side track axis ">
                <b-input type="number" placeholder="0.00" step=".2" ref="xfield" v-model="x_fix_field" @input="fix_changed"></b-input>
            </b-field>
            <b-field label="Height from ground">
                <b-input type="number" placeholder="0.00" step=".2" ref="hfield" v-model="height_fix_field" @input="fix_changed"></b-input>
            </b-field>
            <b-field label="Roll angle">
                <b-input type="number" placeholder="0.00" step=".2" ref="rollfield" v-model="roll_fix_field" @input="fix_changed"></b-input>
            </b-field>
            <b-field label="Pitch angle">
                <b-input type="number" placeholder="0.00" step=".2" ref="pitchfield" v-model="pitch_fix_field" @input="fix_changed"></b-input>
            </b-field>
            <b-field label="track angle">
                <b-input type="number" placeholder="0.00" step=".2" ref="trackfield" v-model="track_fix_field" @input="fix_changed"></b-input>
            </b-field>
            <b-field label="Note">
                <b-input type="textarea" ref="notefield" v-model="note_field"></b-input>
            </b-field> -->
    </div>
</template>

<script>
    import axios from 'axios'
    import Proj4 from 'proj4'
    export default {
        data(){
            return {
                id:"",
                x_fix_field: 0,
                y_fix_field: 0,
                roll_fix_field: 0,
                pitch_fix_field: 0,
                track_fix_field: 0,
                height_fix_field: 0,
                note_field: "",
                update_data: {},
                res: undefined
            }
        },
        created(){
            this.$root.$on('PanoramaUpdated', this.updateLocation)
        },
        methods:{
            reset: function () {
                this.x_fix_field = 0;
                this.y_fix_field = 0;
                this.height_fix_field = this.height;
                this.roll_fix_field = this.roll;
                this.pitch_fix_field = this.pitch;
                this.track_fix_field = this.pano_track;
                this.note_field = this.note
            },
             
            updateLocation: function(pano_key, height, track, roll, pitch, note){
                this.id = pano_key;
                // this.lat = lon;
                // this.lon = lat;
                // this.x = utm_x;
                // this.y = utm_y;
                // this.utm_code = utm_code;
                this.roll = roll
                this.roll_fix_field = roll;
                this.pitch = pitch
                this.pitch_fix_field = pitch;
                this.note = note;
                this.pano_track = track;
                this.track_fix_field = track;
                this.height = height;
                this.height_fix_field = height;
                // this.reset()
            },
            fix_changed: function() {
                const pano_x = this.$store.getters.get_pano_current.utm_x
                const pano_y = this.$store.getters.get_pano_current.utm_y
                let correction = {
                    dx: this.x_fix_field,
                    dy: this.y_fix_field,
                    dh: this.height_fix_field,
                    dr: this.roll_fix_field,
                    dp: this.pitch_fix_field,
                    dt: this.track_fix_field,
                }
                const location_fix = Proj4(this.$store.getters.get_utm_proj,"EPSG:4326").forward([pano_x + this.x_fix_field, pano_y + this.y_fix_field]);
                this.update_data = {
                    lon: location_fix[0],
                    lat: location_fix[1],
                    height_correction: this.height_fix_field,
                    pitch: this.pitch_fix_field,
                    roll: this.roll_fix_field,
                    heading: this.track_fix_field,
                    note: this.note_field,
                }
                this.$root.$emit('fixPanorama', correction)
                // this.reset_D()

            },
            async updateContext(){
                const url = process.env.VUE_APP_URL.concat(`/panoramas/${this.id}/`);
                axios.patch(url, this.update_data).then(res => {
                    this.res = res.data
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
.project-create {
  color: white;
  background: #8cc152;
  margin: 10px;
}
.project-create:hover {
  background: #a0d468;
  color: white;
}
.project-close {
  color: white;
  background: #ea868f;
}
.project-close:hover {
  background: #f1aeb5;
  color: white;
}
</style>