<template>
  <div class="position: fixed;">
    <div @click="minimizeMap" class="float-right" style="margin-right: 35px;">
      <div style="position: fixed; margin-top: 10px;" class="icon-min">
        <i class="fa fa-window-minimize" aria-hidden="true"></i>
      </div>
    </div>
    <vl-map
      ref="map"
      :load-tiles-while-animating="true"
      :load-tiles-while-interacting="true"
      style="height: 100vh"
    >
      <vl-view :zoom.sync="zoom" :center.sync="center" projection="EPSG:4326"></vl-view>
      <vl-feature id="point">
          <vl-geom-point :coordinates="lokPano"></vl-geom-point>
          <vl-style-box>
            <vl-style-icon src='https://i.ibb.co/L0LZbzH/viewpoint-dx.png' :scale="1" :rotation="rotate_mappano"  ></vl-style-icon>
          </vl-style-box>
      </vl-feature>

      <vl-feature>
          <vl-geom-point :coordinates="cursor_pano"></vl-geom-point>
          <vl-style-box>
            <vl-style-icon src='https://i.ibb.co/5GHSnM7/viewpoints-dot.png' :scale="1"  ></vl-style-icon>
          </vl-style-box>
      </vl-feature>

      <vl-layer-vector v-if="spot == false" id="spot" :z-index="3">
        <vl-source-vector
          ident="featuresSource3"
          :features.sync="data_mapspot"
        ></vl-source-vector>
        <vl-style-box>
          <vl-style-circle :radius="3">
            <vl-style-fill :color="[214, 69, 65, 1]"></vl-style-fill>
          </vl-style-circle>
        </vl-style-box>
      </vl-layer-vector>

       <vl-layer-vector  id="pano" :z-index="2">
        <vl-source-vector
          ident="featuresSource"
          :features.sync="loadPanorama"
        ></vl-source-vector>
        <vl-style-box :condition="isGreenFeature">
          <vl-style-circle :radius="5">
            <vl-style-fill :color="[50, 205, 50, 1]"></vl-style-fill>
          </vl-style-circle>
        </vl-style-box>
      </vl-layer-vector>

      <vl-layer-vector v-if="context_changed == false" :z-index="1">
        <vl-source-vector
            ident="featuresSource2"
            :features.sync="mapGeojson.features"
          ></vl-source-vector> 
      </vl-layer-vector>

      <vl-interaction-select 
        :features.sync="selectedPano"
        :layers="['pano']"
      ></vl-interaction-select>

      <vl-layer-tile
        v-for="layer in extBaseLayers"
        :id="layer.id"
        :key="layer.id"
        :visible="layer.visible"
      >
        <component :is="layer.source.cmp" v-bind="layer.source" />
      </vl-layer-tile>

      
    </vl-map>
  </div>
</template>

<script>
import mapGeoJSON from '../../../assets/data/coba.geo.json'
export default {
  name: "mapBig",
  data() {
    return {
      baseLayers: [
        { id: "osm", source: { cmp: "vl-source-osm" } },
        {
          id: "sputnik",
          source: { cmp: "vl-source-sputnik" }
        },
        {
          id: "bing",
          source: {
            cmp: "vl-source-bingmaps",
            "api-key":
              "ArbsA9NX-AZmebC6VyXAnDqjXk6mo2wGCmeYM8EwyDaxKfQhUYyk0jtx6hX5fpMn",
            imagerySet: "AerialWithLabels"
          }
        },
        {
          id: "radio4",
          source: {
            cmp: "vl-source-xyz",
            url: "https://mt1.google.com/vt/lyrs=m&x={x}&y={y}&z={z}"
          }
        }
      ],
      selectedPano: [],
      spot : false,
      context_changed: false
    };
  },
  mounted(){
   this.context = mapGeoJSON.features
   this.$root.$on('spot_changed', this.isSpot);
   this.$root.$on('context_changed', this.isContext)
  },
  methods: {
    paneChange() {
      this.$refs.map.refresh();
    },
    minimizeMap(){
      this.$store.commit('change_enablesideMap', false)
      //this.$root.$emit('pano_lok', this.lokPano);
    },
    isGreenFeature(feature){
      if(feature.id_ != this.currentPano){
        return true
      }
    },
    isSpot(options){
      this.spot = options
    },
    isContext(options){
      this.context_changed = options
    },
  },
  computed: {
    extBaseLayers() {
      return this.baseLayers.map(layer => ({
        ...layer,
        visible: layer.id === this.currentBaseLayer
      }));
    },
    currentBaseLayer() {
      return this.$store.getters.get_basemap;
    },
    zoom: {
      get: function() {
        return this.$store.getters.get_zoom;
      },
      set: function(newValue) {
        return this.$store.commit("change_zoom", newValue);
      }
    },
    center: {
      get: function() {
        return this.$store.getters.get_center;
      },
      set: function(newValue) {
        return this.$store.commit("change_center", newValue);
      }
    },
    mapGeojson(){
      return this.$store.getters.get_map_geojson
    },
    loadPanorama(){
      return this.$store.getters.get_panoramaLoad
    },
    currentPano(){
      return this.$store.getters.get_currentPano
    },
    lokPano(){
      return this.$store.getters.get_pano
    },
    rotate_mappano(){
      return this.$store.getters.get_rotate_map_pano
    },
    cursor_pano(){
      return this.$store.getters.get_cursor_pano
    },
    data_mapspot(){
      return this.$store.getters.get_mapspot
    }
  },
  watch:{
    selectedPano: {
      handler: function(val){
        if(val[0] != undefined && val[0].id != this.currentPano){
             this.$root.$emit('loadPano', val)
             this.$router.replace({ query: { pano: val[0].id, sequence: val[0].properties.sequence } })
        }
        this.selectedPano = []
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.icon-min{
  z-index: 200;
  
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding-left: 4px;
  padding-right: 4px;
 
}
.icon-min:hover{
    background: #999999;
    border-radius: 20px;

}
</style>
