<template>
  <div style="z-index: 2000;">
    <div @click="maximizeMap" class="icon-max">
      <i class="fa fa-window-maximize" aria-hidden="true"></i>
    </div>
    <vl-map
      ref="map"
      :load-tiles-while-animating="true"
      :load-tiles-while-interacting="true"
      style="height: 220px; width: 230px;"
    >
      <vl-view :zoom.sync="zoomSmall" :center.sync="centerSmall" projection="EPSG:4326"></vl-view>

      <vl-feature id="point">
          <vl-geom-point :coordinates="pano_lok"></vl-geom-point>
          <vl-style-box>
            <vl-style-icon src='https://i.ibb.co/L0LZbzH/viewpoint-dx.png' :scale="1" :rotation="rotate_mappano"  ></vl-style-icon>
          </vl-style-box>
      </vl-feature>

      <vl-feature>
          <vl-geom-point :coordinates="cursor_pano"></vl-geom-point>
          <vl-style-box>
            <vl-style-icon src='https://i.ibb.co/5GHSnM7/viewpoints-dot.png' :scale="1"  ></vl-style-icon>
          </vl-style-box>
      </vl-feature>

      <vl-layer-vector v-if="spot == false" id="spot" :z-index="3">
        <vl-source-vector
          ident="featuresSource3"
          :features.sync="data_mapspot"
        ></vl-source-vector>
        <vl-style-box>
          <vl-style-circle :radius="3">
            <vl-style-fill :color="[214, 69, 65, 1]"></vl-style-fill>
          </vl-style-circle>
        </vl-style-box>
      </vl-layer-vector>

      <vl-layer-vector id="pano" :z-index="2">
        <vl-source-vector
          ident="featuresSource"
          :features.sync="loadPanorama"
        ></vl-source-vector>
        <vl-style-box :condition="isGreenFeature">
          <vl-style-circle :radius="5">
            <vl-style-fill :color="[50, 205, 50, 1]"></vl-style-fill>
          </vl-style-circle>
        </vl-style-box>
      </vl-layer-vector>
      
      <vl-interaction-select 
        :features.sync="selectedPano"
        :layers="['pano']"
      ></vl-interaction-select>
      
      <vl-layer-vector  v-if="context_changed == false" :z-index="1">
        <vl-source-vector
            ident="featuresSource2"
            :features.sync="mapGeojson.features"
          ></vl-source-vector> 
      </vl-layer-vector>

      <vl-layer-tile
        v-for="layer in extBaseLayers"
        :id="layer.id"
        :key="layer.id"
        :visible="layer.visible"
      >
        <component :is="layer.source.cmp" v-bind="layer.source" />
      </vl-layer-tile>
    </vl-map>
  </div>
</template>

<script>
/* eslint-disable */
import proj4 from "proj4";
import * as turf from "@turf/turf";
import GeoJSON from "ol/format/GeoJSON";
import Projection from "ol/proj/Projection";
import { addProjection } from "ol/proj.js";
import { register } from "ol/proj/proj4.js";
import axios from 'axios'
export default {
  name: "mapBIg",
  data() {
    return {
      baseLayers: [
        { id: "osm", source: { cmp: "vl-source-osm" } },
        {
          id: "sputnik",
          source: { cmp: "vl-source-sputnik" }
        },
        {
          id: "bing",
          source: {
            cmp: "vl-source-bingmaps",
            "api-key":
              "ArbsA9NX-AZmebC6VyXAnDqjXk6mo2wGCmeYM8EwyDaxKfQhUYyk0jtx6hX5fpMn",
            imagerySet: "AerialWithLabels"
          }
        },
        {
          id: "radio4",
          source: {
            cmp: "vl-source-xyz",
            url: "https://mt1.google.com/vt/lyrs=m&x={x}&y={y}&z={z}"
          }
        }
      ],
      selectedPano: [],
      data_mapspot: [],
      spot : false,
      context_changed: false,
      pano_lok: [0, 0]
    };
  },
  created(){
    this.$root.$on("update_context", this.exportContext);
    this.$root.$on('spot_changed', this.isSpot);
    this.$root.$on('context_changed', this.isContext)
     
    this.$root.$on('spot_update', this.UpdateSpot); 
  },
  mounted(){
    // this.$root.$on('pano_lok', this.panoLok)
    this.$root.$on('pano_lok', this.panoLok)
    
    
    const url_mapspot = process.env.VUE_APP_URL.concat(
        `/image_objects/?as_geojson=true&sequence=${this.pano_current.sequence}`
      );
    axios.get(url_mapspot).then(res => {
      this.data_mapspot = res.data.features.filter(item => item.properties.type == 2)
      this.$store.commit('change_mapspot', this.data_mapspot)
    })
  },
  updated(){
    this.pano_lok = this.lokPano
    
  },
  methods: {
    paneChange() {
      this.$refs.map.refresh();
    },
    maximizeMap() {
      this.$store.commit('change_enablesideMap', true)
    },
    isGreenFeature(feature){
      if(feature.id_ != this.currentPano){
        return true
      }
    },
    isSpot(options){
      this.spot = options
    },
    isContext(options){
      this.context_changed = options
    },
    set_utm_proj: function (utm_code) {
      let utm_zone = utm_code.slice(0, -1);
      const utm_suffix = utm_code.slice(-1);
      if (!"NPQRSTUVZXY".includes(utm_suffix)) {
        utm_zone += "+south";
      }
      this.utm_proj =
        "+proj=utm +zone=%z +datum=WGS84 +units=m +no_defs".replace(
          "%z",
          utm_zone
        ); // + ("N" == utm_or ? "" : "+south"));
    },
    panoLok(point){
      this.pano_lok = this.lokPano
    },
    exportContext: async function () {
      var writer = new GeoJSON();
      const utm_srid = "EPSG:" + this.pano_current.utm_code.toString();
      this.set_utm_proj(this.pano_current.utm_code)

      //const utm_def = "+proj=utm +zone=" + this.pano.utm_zone + " +datum=WGS84 +units=m +no_defs"
      //const utm_def = "+proj=utm +zone=32N +datum=WGS84 +units=m +no_defs"
      proj4.defs(utm_srid, this.utm_proj);
      register(proj4);
      var utm_proj = new Projection({
        code: utm_srid,
        extent: [
          this.pano_current.utm_x - 100000,
          this.pano_current.utm_y - 100000,
          this.pano_current.utm_x + 100000,
          this.pano_current.utm_y + 100000,
        ],
      });
      addProjection(utm_proj);

      const features = new GeoJSON({
        featureProjection: "EPSG:3857",
      }).readFeatures(this.mapGeojson);

      var transformed_features = [];
      for (var i = 0; i < features.length; ++i) {
        const testGeom = features[i].getGeometry().clone();
        testGeom.transform("EPSG:3857", "EPSG:4326");

        const testGeomJson = JSON.parse(writer.writeGeometry(testGeom));

        const dist = turf.distance(
          turf.point([this.pano_current.lon, this.pano_current.lat]),
          turf.centroid(testGeomJson)
        );
        if (dist < 2) {
          const contextGeom = features[i].getGeometry().clone();
          contextGeom.transform("EPSG:3857", utm_srid);
          const contextFeatJson = JSON.parse(writer.writeFeature(features[i]));
          const contextGeomJson = JSON.parse(writer.writeGeometry(contextGeom));
          contextFeatJson["geometry"] = contextGeomJson;
          transformed_features.push(contextFeatJson);
        }
      }
      this.$root.$emit("context_redraw", transformed_features);
    },
    async UpdateSpot(){
    const url_mapspot = process.env.VUE_APP_URL.concat(
        `/image_objects/?as_geojson=true&sequence=${this.pano_current.sequence}`
      );
    await axios.get(url_mapspot).then(res => {
      this.data_mapspot = res.data.features.filter(item => item.properties.type == 2)
      this.$store.commit('change_mapspot', this.data_mapspot)
    })
    }
  },
  computed: {
    extBaseLayers() {
      return this.baseLayers.map(layer => ({
        ...layer,
        visible: layer.id === this.currentBaseLayer
      }));
    },
    currentBaseLayer() {
      return this.$store.getters.get_basemap;
    },
    zoomSmall: {
      get: function() {
        return this.$store.getters.get_zoom;
      },
      set: function(newValue) {
        return this.$store.commit("change_zoom", newValue);
      }
    },
    centerSmall: {
      get: function() {
        return this.$store.getters.get_center;
      },
      set: function(newValue) {
        return this.$store.commit("change_center", newValue);
      }
    },
    loadPanorama(){
      return this.$store.getters.get_panoramaLoad
    },
    currentPano(){
      return this.$store.getters.get_currentPano
    },
    lokPano(){
      return this.$store.getters.get_pano
    },
    rotate_mappano(){
      return this.$store.getters.get_rotate_map_pano
    },
    cursor_pano(){
      return this.$store.getters.get_cursor_pano
    },
    mapGeojson(){
      return this.$store.getters.get_map_geojson
    },
    pano_current(){
      return this.$store.getters.get_pano_current
    }
  },
  watch:{
    selectedPano: {
      handler: function(val){
        if(val[0] != undefined && val[0].id != this.currentPano){
             this.$router.replace({ query: { pano: val[0].id, sequence: val[0].properties.sequence } })
             this.$root.$emit('loadPano', val)
             
        }
        this.selectedPano = []
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.icon-max {
  position: absolute;
  right: 0;
  top: 0;
  margin: 7px;
  z-index: 200;
  color: white;
  cursor: pointer;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.icon-max:hover{
    background: #999999;
    border-radius: 20px;

}
</style>
