<template>
  <div ref="panoramaView" class="panorama">
    <viewer />
    <info />
  </div>
</template>

<script>
import viewer from "./ws_viewer.vue";
import info from "./ws_infopanel.vue";
export default {
  name: "Panorama",
  components: {
    viewer,
    info
  },
  mounted(){

  },
  computed:{
    heightPano(){
        return this.$refs.panoramaView.clientHeight
    },
    widthPano(){
       return this.$refs.panoramaView.clientWidth 
    }
  }
};
</script>

<style lang="scss" scoped>
.panorama {
  width: 100%;
  height: 100%;
}
</style>
