<template>
  <div>
    <!-- begin::Sticky Toolbar -->
    <ul class="sticky-toolbar nav flex-column pl-2 pr-2 pt-3 pb-3 mt-4">
      <li v-b-tooltip.hover.left="'Documentation'" class="nav-item mb-2">
        <b-button :pressed.sync="tag" style="width: 40px;  padding: 8px;" :variant="changeTag"> <i class="flaticon2-tag" aria-hidden="true"></i></b-button>
      </li>
      <li v-b-tooltip.hover.left="'Map'" class="nav-item">
        <b-button :pressed.sync="map" style="width: 40px;  padding: 8px;" :variant="changeButton"> <i class="far fa-map" aria-hidden="true"></i></b-button>
      </li>
    </ul>
    <!-- end::Sticky Toolbar -->
  </div>
</template>

<script>
export default {
  name: "KTStickyToolbar",
  data(){
    return{
      tag: false,
    }
  },
  methods:{
   
  },
  computed: {
    changeButton(){
      return this.map == true ? "primary" : "light";
    },
    changeTag(){
      if(this.tag == true){
        this.$root.$emit('navigationDisabled');
        this.$root.$emit('taggingEnabled');
      } else {
        this.$root.$emit('navigationEnabled');
        this.$root.$emit('taggingDisabled');
      }
      return this.tag == true ? "primary" : "light";
    },
    map: {
      get: function() {
        return this.$store.getters.get_mapActive;
      },
      set: function() {
        return this.$store.commit("change_mapActive");
      }
    },
  }
};
</script>
