<template>
    <div  v-if="info == false" class="content">
        <ul>
          <li>KEY: {{pano.id}}</li>
          <li>LAT: {{pano.lat.toFixed(7)}}</li>
          <li>LON: {{pano.lon.toFixed(7)}}</li>
          <li>X: {{pano.utm_x.toFixed(1)}}</li>
          <li>Y: {{pano.utm_y.toFixed(1)}}</li>
          <li>TRACK: {{pano.heading.toFixed(1)}}</li>
          <li>HEAD: {{rotate.toFixed(1)}}</li>
          <li>CURSOR_HEAD: {{cursor_x.toFixed(1)}}</li>
          <li>CURSOR_DIST: {{cursor_y.toFixed(1)}}</li>
          <li v-if="pano.note">NOTE: {{pano.note}}</li>
        </ul>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                info: false
            }
        },
        created(){
            this.$root.$on('info_changed', this.infoActive);
        },
        methods:{
            infoActive(val){
                this.info = val
            }
        },
        computed: {
            pano(){
                return this.$store.getters.get_pano_current
            },
            cursor_x(){
                return this.$store.getters.get_cursor_x
            },
            cursor_y(){
                return this.$store.getters.get_cursor_y
            },
            rotate(){
                return this.$store.getters.get_rotate_map_pano 
            },
               
        }
    }
</script>

<style lang="scss" scoped>
.content {
  position: absolute;
  bottom:0px;
  right:0px;
  text-align: left;
  width: auto;
  height: auto;
  z-index: 0;
  padding: 5px;
}

.content ul {
  font-size: 10px;
  color: #fff;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>